<div class="container mt-3">
    <form>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" placeholder="Enter Full Name">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" placeholder="Enter Email">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" placeholder="Enter Mobile Number">
        </div>

        <div class="col-lg-4 mt-2">
            <button type="button" class="btn btn-primary btn-sm">Create</button>
        </div>
    </form>
</div>