<div class="container mt-3">
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errorMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successMessage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="createForm" (ngSubmit)="userSubmit()">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="fullname" placeholder="Enter Full Name">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number">
        </div>

        <div class="col-lg-4 mt-2">
            <button type="submit" class="btn btn-primary btn-sm">Create</button>
        </div>
    </form>
</div>