<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allReadData">
                <th scope="row">{{item.id}}</th>
                <td>{{item.fullname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobile}}</td>
            </tr>
        </tbody>
    </table>
</div>